
<!-- <p-sidebar [visible]="true" [showCloseIcon]="false">
    <ng-template pTemplate="header"></ng-template> -->
    <!--   <ng-template pTemplate="content">
        <i class="pi  pi-align-justify"></i> 
        <div class="row my-2 py-2">
            <i class="pi pi-search"></i>
        </div>
        <div class="row my-2 py-2">
            <i class="pi pi-home"></i>
        </div>
        <div class="row my-2 py-2">
            <i class="pi pi-flag-fill"></i>
        </div>
        <div class="row my-2 py-2">
            <i class="pi pi-chart-pie"></i>
        </div>
        <div class="row my-2 py-2">
            <i class="pi pi-envelope"></i>
        </div>
        <div class="row my-2 py-2">
            <i class="pi 
            pi-images"></i>
        </div>
        <div class="row my-2 py-2">
            <i class="pi pi-calendar-times"></i>
        </div>
        <div class="row my-2 py-2">
            <i class="pi pi-users"></i>
        </div>
        <div class="row my-2 py-2">
            <i class="pi pi-cog"></i>
        </div>
        
      
    </ng-template> -->
    <!--   <ng-template pTemplate="footer">Footer Content</ng-template> -->
    <!-- <h1 style="font-weight:normal">Left Sidebar</h1> -->
    <!-- <p-button
      type="button"
      (click)="visibleSidebar1 = false"
      label="Save"
      styleClass="p-button-success"
    ></p-button> -->
    <!-- <p-button
      type="button"
      (click)="visibleSidebar1 = false"
      label="Cancel"
      styleClass="p-button-secondary"
    ></p-button> -->
  <!-- </p-sidebar>  -->
  <div class="header pt-0 pb-2 pl-2 pr-0 row"><div class="col-11 "><p-image src="assets/gavstech.png" alt="Image" width="150"></p-image></div><div class="col-1 py-0 pl-6"><p-image src="assets/gavscircle.png" alt="Image" width="60"></p-image></div></div>
  <hr size="4" class="my-1 "width="100%" color="themegavs">
  <router-outlet></router-outlet>