:host ::ng-deep.p-sidebar-left {
    top: 0;
    left: 0;
    width: 3rem;
    height: 100%;
    padding: 0px;
    z-index: 1;
}

.header
{
    // background-color:rgba(25,26,111,255);
background-color: white;
    height: 10vh;
    width: 100%;
}
.themegavs{
    background-color:#191a6f
}
.iconRed{
    width: 10%;
}