<app-navbar></app-navbar>
<!-- <p-organizationChart [value]="data"></p-organizationChart> -->
<!-- 
<p-organizationChart [value]="data"
    styleClass="company">
    <ng-template let-node pTemplate="leaf">
        <span style="font-weight:bold">{{node.label}}</span>
    </ng-template>
    <ng-template let-node pTemplate="default">
        {{node.label}}
    </ng-template>
</p-organizationChart> -->
<!-- <p-organizationChart [value]="data" selectionMode="single" [(selection)]="selectedNode"></p-organizationChart> -->

<router-outlet></router-outlet>